.imagemLogin {
  background-image: url('https://ik.imagekit.io/1vxpqo8ju/WhatsApp_Image_2021-06-27_at_18.39.43.jpeg?updatedAt=1684939964707');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
