.imagemCadastro {
  background-image: url('https://ik.imagekit.io/1vxpqo8ju/bb95f1c85f46a5259b6b3dd7bff0cd4640e6f0c4_full.jpg?updatedAt=1684940265561');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}